<form action="/sessions" method="post">
	<input type="hidden" name="database_url" value="<%= ENV['DATABASE_URL'] || 'sqlite://edit.sqlite3' %>" />
	<input type="hidden" name="user" value="joe@example.com" />
	<input type="hidden" name="app" value="myapp.heroku.com" />
	<input type="submit" value="Start a new session" />
</form>
